:root {
  --color-primary: #007bff;
  --color-secondary: #6c757d;
  --color-active: #9ce427;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-white: #fff;
  --color-black: #000;

  --font-size-base: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;

  --font-weight-bold: 700;
  --font-weight-semibold: 600;
}
